@use "./partials/mixins" as *;
@use "./partials/variables" as *;
@import "bootstrap/scss/bootstrap";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "system-ui";
}

body {
  width: 100%;
}

#app {
  width: 100%;
}

ul {
  list-style: none;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 2.5rem));
  }
}

@keyframes getbigger {
  0% {
    transform: scale(0.7);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.7);
  }
}
